html {
  position: relative;
  min-height: 100%;
}

body {
  background: url(background.jpeg) lightgrey;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.jumbotron {
  text-align: center;
  margin-top: 2%;
  background: inherit;
}

.playerButtons {
  margin: auto;
  text-align: center;
}

.col-md-6 {
  text-align: center;
  border: 1px solid white;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: auto;
  font-size: 70px;
  background: white;
  color: black;
}

.col-md-6 {
  display: none;
}
